body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #a3a5ae;
  margin: 0;
}

.top-container {
padding-top: 50px;
padding-bottom: 50px;
}

h1 {
  color: #4c4e61;
  font-size: 1.5rem;
  margin-top: 0;
}

.top-head {
  margin-bottom: 0;
}

h2 {
  width: 33%;
  margin: 0 auto;
  font-size: .7rem;
  font-weight: lighter;
}

h3 {
  color: hsl(234, 12%, 34%);
  text-align: left;
  font-size: .8rem;
  margin-left: 15px;
  font-weight: 600;
}

p {
  text-align: left;
  font-size: .5rem;
  line-height: 2;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: lighter;
}

.middle-container {
  position: relative;
  height: 350px;
}

.Team-Builder {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10px;
  height: 150px;
  width: 21%;
  border-top: solid #ea5353;
  border-radius: 5px;
  box-shadow: 0px 5px 10px hsl(0, 0%, 90%);
}

.Karma {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 150px;
  width: 21%;
  border-top: #fcaf4a solid;
  border-radius: 5px;
  box-shadow: 0px 5px 10px hsl(0, 0%, 90%);
}

.Supervisor {
  position: absolute;
  left: 17%;
  top: 100px;
  height: 150px;
  width: 21%;
  border-top: solid #45d3d3;
  border-radius: 5px;
  box-shadow: 0px 5px 10px hsl(0, 0%, 90%);
}

.Calculator {
  position: absolute;
  right: 17%;
  top: 100px;
  height: 150px;
  width: 21%;
  border-top:#549ef2 solid;
  border-radius: 5px;
  box-shadow: 0px 5px 10px hsl(0, 0%, 90%);
}

.img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 50px;
  width: 50px;
}
